# Causality of Economic Uncertainty on Bitcoin Prices
_School of Information Technology & School of Business_ <br>
_Monash University Malaysia_<br>
(c) Copyright 2020, Ian Tan & Poon Wai Ching

For Granger<br>
https://towardsdatascience.com/granger-causality-and-vector-auto-regressive-model-for-time-series-forecasting-3226a64889a6

Steps

- Read dataset (BTC, China Economic, US Economic)
- Have new dataset Global EPU, Singapore EPU, UK EPU and US EPU (https://www.policyuncertainty.com/index.html)
- Wrangle and merge dataset
- Conduct Granger Test (statsmodels)

In [106]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

# Read datasets

In [107]:
globalDf = pd.read_csv("data/Global_Policy_Uncertainty_Data-Since1997.csv", encoding="latin-1")
btcDf = pd.read_csv("data/BTC-Monthly-Since2014.csv")
chinaDf = pd.read_csv("data/China-TPU-Monthly-Since2000.csv", encoding="latin-1") # due to some 0x9x characters
usDf = pd.read_csv("data/US_Policy_Index-Monthly-Since1985.csv")

## Wrangle Global EPU dataset

In [108]:
globalDf.head()

   Year  Month  GEPU_current   GEPU_ppp
0  1997    1.0     74.250916  76.827372
1  1997    2.0     77.455858  79.145625
2  1997    3.0     66.761655  64.889262
3  1997    4.0     71.868261  73.164048
4  1997    5.0     69.901362  70.204210

In [109]:
globalDf.dtypes

Year             object
Month           float64
GEPU_current    float64
GEPU_ppp        float64
dtype: object

In [110]:
globalDf = globalDf.dropna()

In [111]:
globalDf.tail()

     Year  Month  GEPU_current    GEPU_ppp
280  2020    5.0    412.826586  423.968339
281  2020    6.0    313.741755  333.653920
282  2020    7.0    337.384424  340.895162
283  2020    8.0    285.883907  306.856490
284  2020    9.0    286.915497  298.280919

In [112]:
globalDf['Year'] = globalDf['Year'].astype('int')

In [113]:
globalDf.drop(globalDf[globalDf['Year'] < 2014].index, inplace=True)

In [114]:
globalDf['Year'] = globalDf['Year'].astype('int')

In [115]:
globalDf['Month'] = globalDf['Month'].astype('int')

In [116]:
globalDf.head()

     Year  Month  GEPU_current    GEPU_ppp
204  2014      1    107.324807  108.767217
205  2014      2     94.643427   92.150604
206  2014      3    109.436900  107.244238
207  2014      4     97.775491  101.434120
208  2014      5    100.257487  102.025873

In [117]:
len(globalDf)

81

## Wrangle BTC dataset

In [118]:
btcDf.head()

,Date (based on 1st of Month),Open,High,Low,Close,Volume
0,Sep-2014,465.864014,468.174011,372.239990,386.944000,4.108810e+08
1,Oct-2014,387.427002,411.697998,289.295990,338.321014,9.029944e+08
2,Nov-2014,338.649994,457.092987,320.626007,378.046997,6.597334e+08
3,Dec-2014,378.248993,384.037994,304.231995,320.192993,5.531023e+08
4,Jan-2015,320.434998,320.434998,171.509995,217.464005,1.098812e+09

In [119]:
btcDf.dtypes

Date (based on 1st of Month)     object
Open                            float64
High                            float64
Low                             float64
Close                           float64
Volume                          float64
dtype: object

In [120]:
btcDf['Year'] = pd.DatetimeIndex(btcDf['Date (based on 1st of Month)']).year
btcDf['Month'] = pd.DatetimeIndex(btcDf['Date (based on 1st of Month)']).month
btcDf.head()

,Date (based on 1st of Month),Open,High,Low,Close,Volume,Year,Month
0,Sep-2014,465.864014,468.174011,372.239990,386.944000,4.108810e+08,2014,9
1,Oct-2014,387.427002,411.697998,289.295990,338.321014,9.029944e+08,2014,10
2,Nov-2014,338.649994,457.092987,320.626007,378.046997,6.597334e+08,2014,11
3,Dec-2014,378.248993,384.037994,304.231995,320.192993,5.531023e+08,2014,12
4,Jan-2015,320.434998,320.434998,171.509995,217.464005,1.098812e+09,2015,1

In [121]:
# Estatics only, I just wanted the year and month in front
cols = btcDf.columns.tolist()
cols = cols[-1:] + cols[:-1]; cols = cols[-1:] + cols[:-1]
btcDf = btcDf[cols]
# Delete the not needed column
del btcDf['Date (based on 1st of Month)']

In [122]:
btcDf.reset_index()
btcDf.head()

   Year  Month        Open        High         Low       Close        Volume
0  2014      9  465.864014  468.174011  372.239990  386.944000  4.108810e+08
1  2014     10  387.427002  411.697998  289.295990  338.321014  9.029944e+08
2  2014     11  338.649994  457.092987  320.626007  378.046997  6.597334e+08
3  2014     12  378.248993  384.037994  304.231995  320.192993  5.531023e+08
4  2015      1  320.434998  320.434998  171.509995  217.464005  1.098812e+09

In [123]:
btcDf.tail()

,Year,Month,Open,High,Low,Close,Volume
67,2020,4,6437.319336,9440.650391,6202.373535,8658.553711,1.156130e+12
68,2020,5,8672.782227,9996.743164,8374.323242,9461.058594,1.286370e+12
69,2020,6,9463.605469,10199.565430,8975.525391,9137.993164,6.509130e+11
70,2020,7,9145.985352,11415.864260,8977.015625,11323.466800,5.458130e+11
71,2020,8,11322.570310,12034.144530,11012.415040,11675.739260,1.797630e+11

In [124]:
len(btcDf)

72

## Wrangle China dataset

In [125]:
chinaDf.head()

,year,month,TPU,Unnamed: 3,Unnamed: 4,"Source: ''Economic Policy Uncertainty in China Since 1949: The View from Mainland Newspapers, by Steven J. Davis, Dingqian Liu and Xuguang S. Sheng, 2019."
0,2000,1,38.2,NaN,NaN,These data can be used freely with attribution...
1,2000,2,14.7,NaN,NaN,NaN
2,2000,3,8.9,NaN,NaN,NaN
3,2000,4,8.9,NaN,NaN,NaN
4,2000,5,0.0,NaN,NaN,NaN

In [126]:
# Reformat by dropping last 3 columns (or rather, just take the first 3 columns)
chinaDf = chinaDf.loc[:,['year','month','TPU']]

In [127]:
chinaDf.columns = ['Year','Month','TPU']

In [128]:
chinaDf.drop(chinaDf[chinaDf['Year'] < 2014].index, inplace=True)

In [129]:
chinaDf.reset_index(drop = True, inplace = True)
chinaDf.head()

   Year  Month   TPU
0  2014      1  39.0
1  2014      2  24.0
2  2014      3  99.9
3  2014      4  67.9
4  2014      5  15.7

In [130]:
len(chinaDf)

79

In [131]:
chinaDf.tail()

    Year  Month    TPU
74  2020      3  105.9
75  2020      4  193.1
76  2020      5  547.3
77  2020      6  473.9
78  2020      7  340.8

## Wrangle US dataset

In [132]:
usDf.head()

,Year,Month,News_Based_Policy_Uncert_Index,FedStateLocal_Ex_disagreement,CPI_disagreement,Tax_expiration
0,1985,1.0,103.748802,94.195557,204.033661,13.494806
1,1985,2.0,78.313202,131.445221,136.022430,13.494806
2,1985,3.0,100.761482,131.683533,136.022430,13.494806
3,1985,4.0,84.778870,131.495529,136.022430,13.494806
4,1985,5.0,98.053658,139.016907,170.028061,13.494806

In [133]:
usDf.dtypes

Year                               object
Month                             float64
News_Based_Policy_Uncert_Index    float64
FedStateLocal_Ex_disagreement     float64
CPI_disagreement                  float64
Tax_expiration                    float64
dtype: object

In [134]:
usDf['Year'] = pd.to_numeric(usDf['Year'], errors='coerce')

In [135]:
usDf.drop(usDf[usDf['Year'] < 2014].index, inplace=True)

In [136]:
usDf = usDf.dropna()

In [137]:
usDf['Year'] = usDf['Year'].astype('int'); usDf['Month'] = usDf['Month'].astype('int')

In [138]:
usDf.dtypes

Year                                int32
Month                               int32
News_Based_Policy_Uncert_Index    float64
FedStateLocal_Ex_disagreement     float64
CPI_disagreement                  float64
Tax_expiration                    float64
dtype: object

In [139]:
usDf.reset_index(drop = True, inplace = True)
usDf.head()

,Year,Month,News_Based_Policy_Uncert_Index,FedStateLocal_Ex_disagreement,CPI_disagreement,Tax_expiration
0,2014,1,107.705139,83.794785,71.942268,18.917648
1,2014,2,93.369286,87.217278,85.585320,18.917648
2,2014,3,101.018730,87.261520,85.585320,18.917648
3,2014,4,96.993431,87.300034,85.585320,18.917648
4,2014,5,102.015045,91.901459,68.011215,18.917648

In [140]:
len(usDf)

79

In [141]:
usDf.tail()

,Year,Month,News_Based_Policy_Uncert_Index,FedStateLocal_Ex_disagreement,CPI_disagreement,Tax_expiration
74,2020,3,425.779205,69.506531,72.472755,282.284149
75,2020,4,400.944733,69.506531,72.472755,282.284149
76,2020,5,503.963348,171.697784,98.969925,282.284149
77,2020,6,300.400940,171.697784,98.969925,282.284149
78,2020,7,409.611176,171.697784,98.969925,282.284149

## Merge Data

As the BTC dataset only starts from September 2014 and the China and US dataset is only up to July 2020, we will need to filter them before combining all of them together in one dataframe.

In [142]:
globalDf = globalDf[ ~((globalDf['Year'] == 2020) & (globalDf['Month'] > 7)) ]
globalDf = globalDf[ ~((globalDf['Year'] == 2014) & (globalDf['Month'] < 9)) ]

In [143]:
btcDf = btcDf[ ~((btcDf['Year'] == 2020) & (btcDf['Month'] > 7)) ]
chinaDf = chinaDf[ ~((chinaDf['Year'] == 2014) & (chinaDf['Month'] < 9)) ]
usDf = usDf[ ~((usDf['Year'] == 2014) & (usDf['Month'] < 9)) ]

In [144]:
if (len(btcDf) == len(chinaDf) == len(usDf)):
    print("Data frames ready to merge")

Data frames ready to merge

In [145]:
allDf = globalDf.merge(btcDf.merge(chinaDf).merge(usDf))

In [146]:
allDf.head()

,Year,Month,GEPU_current,GEPU_ppp,Open,High,Low,Close,Volume,TPU,News_Based_Policy_Uncert_Index,FedStateLocal_Ex_disagreement,CPI_disagreement,Tax_expiration
0,2014,9,119.004523,123.848461,465.864014,468.174011,372.239990,386.944000,4.108810e+08,66.0,86.216591,90.738510,81.613464,18.917648
1,2014,10,115.001499,117.841802,387.427002,411.697998,289.295990,338.321014,9.029944e+08,47.9,113.334579,90.757492,81.613464,18.917648
2,2014,11,109.575411,115.329683,338.649994,457.092987,320.626007,378.046997,6.597334e+08,108.4,93.185951,91.726883,81.613464,18.917648
3,2014,12,107.930762,109.408125,378.248993,384.037994,304.231995,320.192993,5.531023e+08,18.7,87.415321,91.753418,81.613464,18.917648
4,2015,1,131.733360,138.663842,320.434998,320.434998,171.509995,217.464005,1.098812e+09,22.8,120.544228,91.764519,81.613464,620.767761

In [147]:
# Let's save this for a bit
allDf.to_csv('data/allData.csv')

In [148]:
# No NaN values, if there are, best practise is to pad it

Just to get some intuition on the type of data we are dealing with, we do a normality test (distribution).

<span style="color:red">Do this later .. impatient now to look at Granger</span>

We use only the BTC closing price.

In [149]:
gDf = allDf.loc[:,['GEPU_current','Close', 'TPU', 'News_Based_Policy_Uncert_Index', 'FedStateLocal_Ex_disagreement', 'CPI_disagreement', 'Tax_expiration']]
gDf.columns = ['GlobalEPU', 'BTC','TPU','News', 'FedState', 'CPI','Tax']
gDf.head()

    GlobalEPU         BTC    TPU        News   FedState        CPI         Tax
0  119.004523  386.944000   66.0   86.216591  90.738510  81.613464   18.917648
1  115.001499  338.321014   47.9  113.334579  90.757492  81.613464   18.917648
2  109.575411  378.046997  108.4   93.185951  91.726883  81.613464   18.917648
3  107.930762  320.192993   18.7   87.415321  91.753418  81.613464   18.917648
4  131.733360  217.464005   22.8  120.544228  91.764519  81.613464  620.767761

In [150]:
from scipy import stats

stat, p = stats.normaltest(gDf.BTC)
print("Statistics = %.3f, p=%.3f" % (stat,p))

alpha = 0.05
if p > alpha:
    print('Data looks Gaussian (fail to reject null hypothesis)')
else:
    print('Data looks non-Gaussian (reject null hypothesis)')

Statistics = 19.829, p=0.000
Data looks non-Gaussian (reject null hypothesis)

In [151]:
# Kurtosis and Skewness

## Granger's Causality Test

### Data Preparation

In [152]:
# Transform - Apply differencing to the columns to create stationary data

In [153]:
gDf['GlobalEPU'] = np.diff(gDf['GlobalEPU'], prepend=gDf['GlobalEPU'][0])
gDf['BTC'] = np.diff(gDf['BTC'], prepend=gDf['BTC'][0])
gDf['TPU'] = np.diff(gDf['TPU'], prepend=gDf['TPU'][0])
gDf['News'] = np.diff(gDf['News'], prepend=gDf['News'][0])
gDf['FedState'] = np.diff(gDf['FedState'], prepend=gDf['FedState'][0])
gDf['CPI'] = np.diff(gDf['CPI'], prepend=gDf['CPI'][0])
gDf['Tax'] = np.diff(gDf['Tax'], prepend=gDf['Tax'][0])

In [154]:
# Stationary Check - needed as Granger assumes that the data is stationary

In [155]:
from statsmodels.tsa.stattools import adfuller

def augmented_dickey_fuller_statistics(time_series):
    result = adfuller(time_series.values)
    print('ADF Statistic: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Critical Values:')
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))

print('Augmented Dickey-Fuller Test: Global EPU Time Series')
augmented_dickey_fuller_statistics(gDf['GlobalEPU'])
        
print('Augmented Dickey-Fuller Test: BTC Price Time Series')
augmented_dickey_fuller_statistics(gDf['BTC'])

print('Augmented Dickey-Fuller Test: China TPU Time Series')
augmented_dickey_fuller_statistics(gDf['TPU'])

print('Augmented Dickey-Fuller Test: US News Index Time Series')
augmented_dickey_fuller_statistics(gDf['News'])

print('Augmented Dickey-Fuller Test: US Federal and State Disagreement Index Time Series')
augmented_dickey_fuller_statistics(gDf['FedState'])

print('Augmented Dickey-Fuller Test: US CPI Time Series')
augmented_dickey_fuller_statistics(gDf['CPI'])

print('Augmented Dickey-Fuller Test: US Tax Time Series')
augmented_dickey_fuller_statistics(gDf['Tax'])

Augmented Dickey-Fuller Test: Global EPU Time Series
ADF Statistic: -6.507074
p-value: 0.000000
Critical Values:
	1%: -3.532
	5%: -2.906
	10%: -2.590
Augmented Dickey-Fuller Test: BTC Price Time Series
ADF Statistic: -8.247094
p-value: 0.000000
Critical Values:
	1%: -3.527
	5%: -2.904
	10%: -2.589
Augmented Dickey-Fuller Test: China TPU Time Series
ADF Statistic: -9.652311
p-value: 0.000000
Critical Values:
	1%: -3.529
	5%: -2.904
	10%: -2.590
Augmented Dickey-Fuller Test: US News Index Time Series
ADF Statistic: -6.769517
p-value: 0.000000
Critical Values:
	1%: -3.532
	5%: -2.906
	10%: -2.590
Augmented Dickey-Fuller Test: US Federal and State Disagreement Index Time Series
ADF Statistic: -8.299840
p-value: 0.000000
Critical Values:
	1%: -3.527
	5%: -2.904
	10%: -2.589
Augmented Dickey-Fuller Test: US CPI Time Series
ADF Statistic: -8.428358
p-value: 0.000000
Critical Values:
	1%: -3.530
	5%: -2.905
	10%: -2.590
Augmented Dickey-Fuller Test: US Tax Time Series
ADF Statistic: -4.657849
p-value: 0.000101
Critical Values:
	1%: -3.546
	5%: -2.912
	10%: -2.594

Once differentiated to the first order, it looks like all of the series are stationary.

### Granger Test Parameters Setting

In [156]:
from statsmodels.tsa.stattools import grangercausalitytests

The null hypothesis for all four test is that the coefficients corresponding to past values of the second time series are zero.

- “params_ftest”, “ssr_ftest” are based on F distribution

- “ssr_chi2test”, “lrtest” are based on chi-square distribution

In [157]:
test = 'ssr-chi2test'

We use a maximum lag of 12, as we have 12 months in a year.  Possibly seasonal effects and also economic indicators are generally "stationary" on a yearly basis.

In [158]:
maxlag=12

### Function to create a matrix to show the null hypothesis

In [159]:
def grangers_causality_matrix(X, variables, test = 'ssr_chi2test', verbose=False):
    dataset = pd.DataFrame(np.zeros((len(variables), len(variables))), columns=variables, index=variables)
    for c in dataset.columns:
        for r in dataset.index:
            test_result = grangercausalitytests(X[[r,c]], maxlag=maxlag, verbose=False)
            p_values = [round(test_result[i+1][0][test][1],4) for i in range(maxlag)]
            if verbose:
                print(f'Y = {r}, X = {c}, P Values = {p_values}')
            min_p_value = np.min(p_values)
            dataset.loc[r,c] = min_p_value
    dataset.columns = [var + '_x' for var in variables]
    dataset.index = [var + '_y' for var in variables]
    return dataset

### Test

In [160]:
grangers_causality_matrix(gDf, variables = gDf.columns)

             GlobalEPU_x   BTC_x   TPU_x  News_x  FedState_x   CPI_x   Tax_x
GlobalEPU_y       1.0000  0.0461  0.0094  0.0435      0.0133  0.0145  0.0004
BTC_y             0.0034  1.0000  0.0000  0.5195      0.0019  0.0000  0.8999
TPU_y             0.2463  0.0000  1.0000  0.3040      0.0396  0.0669  0.6760
News_y            0.2293  0.2645  0.0000  1.0000      0.0094  0.0952  0.0048
FedState_y        0.0102  0.0059  0.0000  0.0000      1.0000  0.0000  0.6959
CPI_y             0.0005  0.0071  0.0213  0.0086      0.0000  1.0000  0.0050
Tax_y             0.3014  0.8924  0.8929  0.4728      0.0016  0.0397  1.0000

Note: x causes y

GlobalEPU, China TPU, CPI seems to have a null hypothesis against causation on BTC. (Need to know what this actually means).